.Clue {
  padding: calc(var(--cell-size) * .2) calc(var(--cell-size) * .3);
  border-radius: calc(var(--cell-size) * .4);
  color: white;
  font-size: calc(var(--cell-size) * .4);
  width: 100%;
  box-sizing: border-box;
}
