.App {
  height: 100vh;
  overflow: scroll;
}

.GameWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    /* light image */
    url(https://superkid.online/static/media/bg1.b4a3e5acbab5899b9adf.png)
    /* dark image */
    /*url(https://superkid.online/static/media/space.e9e9271c667df6515b8f.png)*/
    no-repeat;
  background-size: cover;
  width: 970px;
  height: 678px;
  border-radius: 20px;
}

.GameField {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
