.App {
  height: 100vh;
/*  display: flex;
  align-items: center;
  justify-content: center;
*/  overflow: scroll;
}

.GameWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    url(https://superkid.online/static/media/bg1.b4a3e5acbab5899b9adf.png)
    no-repeat;
  background-size: cover;
  width: 970px;
  height: 678px;
  border-radius: 20px;
}

.GameField {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 884px;
  height: 480px;
  /*border: 2px dashed #f007;*/
  border-radius: 10px;
}
